:root {
    --font-roboto: "Roboto", sans-serif;
    --font-roboto-C: "Roboto Condensed", sans-serif;
    --font-roboto-S: "Roboto Slab", serif;
    --font-roboto-F: "Roboto Flex", serif;
    --linear-grad-tt: linear-gradient(to top, #35673A, #609054);
    --linear-grad-tb-f3: linear-gradient(to bottom, #356037 5%, rgba(0, 0, 0, 0) 15%),
        url('../assets/fundo3.png');
    --linear-grad-tb-f1-f3: linear-gradient(to bottom, rgba(0, 0, 0, 0) 95%, #356037 101%),
        url('../assets/fundo1.png'),
        url('../assets/fundo3.png');
    --image-icon-i1: url(../assets/icon1.png);
    --image-icon-i2: url(../assets/icon2.png);
    --image-logo-l2: url(../assets/logo2.png);
    --image-fund-f5: url('../assets/fundo5.png');
    --image-fund-f4: url('../assets/fundo4.png');
    --image-fund-f6: url('../assets/fundo6.png');
    --color-branco: #FFFFFF;
    --color-branco-marrom: #FDEFCF;
    --color-verde-folha: #356037;
    --color-verde-claro: #8AA661;
    --color-marrom-escuro: #2A1F11;
    --color-marrom-escuro-trans: #2A1F11a6;
    --color-marrom-escuro-transb: #2A1F1192;
    --color-preto-trans: #00000050;
    --color-marrom-caramelo: #AF5D27;
    --color-marrom-caramelo-esc: #CA6F32;
}



@media (max-height: 730px) {
    .main-section {
        background-position-y: -12px;
    }


    .section-table__img {
        position: absolute;
        margin-top: -10.8vh;
        margin-left: -25px;
        width: 600px;
    }

    .sumario-section {
        margin-top: -12px;
    }

    .logo-circular {
        top: 1194px;
    }

    .fest-section {
        height: 104vh;
    }

    .festa:hover::after {
        top: 250px;
    }

    .festa::after {
        top: 250px;
    }

    .h3-cicle {
        margin-top: -360px;
    }

    .cicle-section {
        height: 111vh;
    }

    .divisas-cicle {
        top: 2977px;
    }

    .icons-cicle {
        top: 2931px;
    }


    .icon-cicle1,
    .icon-cicle3,
    .icon-cicle5,
    .icon-cicle7,
    .icon-cicle9 {

        height: 1.8vh;
    }

    .icon-cicle2,
    .icon-cicle4,
    .icon-cicle6,
    .icon-cicle8 {
        height: 2.5vh;
        width: 2.5vh;
    }

    .prod-section {
        height: 235vh;
    }

    .a-comp:hover::after {
        top: 335px;
    }

    .a-comp::after {
        top: 335px;
    }

    .rodape {
        margin-top: -1px;
    }

    .terra-circular {
        bottom: -5671px;
    }


}

@media (max-width: 480px) {
    .main-section__header {
        height: 234.79px;
        display: flex;
        flex-direction: column;
        border-bottom: #543412 7px solid;
    }

    .site-header {
        height: 167.709px;
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .ref {
        display: none;
    }

    .site-header__title p {
        display: none;
    }

    .moblie-cab {
        display: flex;
        align-items: flex-end;
    }

    .moblie-cab p {
        display: flex;
    }

    .site-header__title {
        display: flex;
        font-size: 40px;
        align-items: center;
        flex-direction: column;
    }

    .moblie-cab:nth-child(1) {
        padding-bottom: 3px;
    }

    .moblie-cab:nth-child(2) p {
        text-align: center;
        padding: 0;
        line-height: 0.9;
    }

    .site-header__logo {
        padding: 0 10px;
        height: 63%;
    }

    .noneEspaceDif {
        padding-right: 0px;
    }

    .main-nav {
        width: 100%;
        height: 133.204px;
        display: flex;
    }

    .h1-texto-principal,
    .h1-inner-shadow,
    .h1-drop-shadow {
        font-size: 80px;
    }

    .h1-inner-shadow {
        transform: translate(-1.5px, -1.5px);
    }

    .h1-drop-shadow {
        text-shadow: 3px 3px 0 #2A1F11;
    }

    .h2-texto-principal,
    .h2-inner-shadow,
    .h2-drop-shadow {
        margin-top: 10px;
        font-size: 66px;
    }

    .h2-inner-shadow {
        transform: translate(-1.5px, -1.5px);
    }

    .h2-drop-shadow {
        text-shadow: 2px 2px 0 #2A1F11;
    }

    .section-table__img {
        display: none;
    }

    .section-sum__infos {
        width: auto;
        padding-left: 0;
        margin-right: 0;
    }

    .h3-table {
        margin-top: 0;
    }

    .section-sum {
        width: 70%;
        padding: 30px;
        height: 586.9815px;
    }

    .section-fest {
        height: 503.127px;
    }

    .a-fest {
        width: 120%;
    }

    .festa::after {
        content: "🎉 Entrar na Festa! 🎉";
        transition: content 0.3s ease;
    }

    .festa:hover::after {
        content: "🎉 Entrar na Festa! 🎉";
        transition: content 0.3s ease;
    }

    .festa::after {
        color: #FDEFCF;
        position: absolute;
        top: 521px;
        left: 3px;
        width: 100%;
    }

    .cicle-section {
        background-position-x: -43px;
    }

    .h3-cicle {
        font-size: 29px;
        width: 117%;
        font-weight: 600;
        color: var(--color-marrom-escuro);;
    }

    .p-ciclePc {
        display: none;
    }

    .p-cicleCel {
        display: block;
        text-align: center;
        color: #FDEFCF;
        font-weight: 500;
        font-size: 33px;
        width: 90%;
    }

    .divisas-cicle {
        margin-top: 51px;
    }

    .icon-cicle2,
    .icon-cicle4,
    .icon-cicle6,
    .icon-cicle8 {
        height: 12px;
        width: 13px;
        border: #AF5D27 7px solid;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        margin: 7px;
    }

    .iconrs-cicle {
        top: -80px;
    }

    .icons-cicle {
        top: 3183px;
    }

    .icon-cicle1,
    .icon-cicle3,
    .icon-cicle5,
    .icon-cicle7,
    .icon-cicle9 {
        background: #CA6F32;
        border-radius: 12px;
        height: 10.901px;
        width: 8%;
    }

    .icon-cicle2~.icon-cicle3 {
        position: relative;
        top: 0;
    }

    .icon-cicle4~.icon-cicle5 {
        position: relative;
        top: 0;
    }

    .icon-cicle6~.icon-cicle7 {
        position: relative;
        top: 0;
    }

    .icon-cicle8~.icon-cicle9 {
        position: relative;
        top: 0;
    }

    .section-prodR {
        width: 100%;
    }

    .section-prodR__sect {
        display: flex;
        width: 100%;
        height: fit-content;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    .h2-card {
        text-transform: uppercase;
        font-size: 41px;
        text-align: center;
        margin-top: 200px;
    }

    .prod-section {
        width: 100%;
        height: 2138.28px;
    }

    .prodR__card {
        min-width: 184.4799px;
        height: 385.7307px;
    }

    .img-card {
        width: 117.5%;
    }

    .terra-circular {
        bottom: -7376px;
        width: 244px;
        left: 38%;
        height: 800px;
        border-radius: 0;
        filter: drop-shadow(-4px 0px 7px #00000075);
    }

    .comp-section {
        height: 1677.09px;
        background-position-x: center;
    }

    .section-comp {
        width: 70%;
        height: 1173.96px;
        padding: 30px
    }

    .h3-cicleCel {
        display: inline-block;
    }

    .h3-ciclePc {
        display: none;
    }

    .h3-texto-principal,
    .h3-inner-shadow,
    .h3-drop-shadow {
        text-align: center;
        font-size: 55px;
        font-weight: 900;
        text-align: center;
    }

    .h3-comp {
        top: -602px;
    }

    .h3-drop-shadow {
        text-shadow: 4px 4px 0 #2A1F11;;
    }


    .a-comp::after {
        color: #FDEFCF;
        position: absolute;
        top: 1130px;
        left: 19px;
        width: 301px;
    }

    .a-comp:hover::after {
        content: "Fechar o Compromisso!";
        top: 1130px;
        left: 19px;
        width: 301px;
        animation: fadeOut 1s ease 0s 1 normal forwards;
    }

    .logo-circular {
        background: url(../assets/logo2.png);
        border-radius: 50%;
        width: 700px;
        height: 700px;
        background-size: contain;
        position: absolute;
        z-index: 0;
        top: 1516px;
        left: -311px;
    }

    .form {
        width: 90%;
        height: 771.4614px;
    }

    .form-fieldset:first-child {
        border-top: 9px solid var(--color-marrom-escuro);;
        height: calc(981.09765px / 5);
        margin-top: 60px;
    }

    .form-fieldset:nth-child(5) {
        height: 335.418px;
    }

    .section-form {
        width: 100%;
        height: 1064.95215px;
        justify-content: flex-start;
    }

    .form-description-ul li:before {
        content: '';
        min-width: 7px;
    }

    .rod-sect {
        width: 100%;
        height: 209.63625px;
        background: #ffe6c5;
        background-size: cover;
        border-radius: 46px 46px 0px 0px;
        display: flex;
        box-shadow: -4px -4px 7px #00000075;
        color: var(--color-marrom-escuro);;
        position: relative;
        z-index: 3;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        text-align: center;
    }

    .rodape {
        font-family: var(--font-roboto);
        width: 100%;
        height: 234.7926px;
    }

    .rod-p {
        margin-right: 0px;
    }

    .a-form::after {
        content: "Compromisso Fechado!";
        transition: content 0.3s ease;
    }

    .a-form:hover::after {
        content: "Compromisso Fechado!";
        width: 300px;
        text-align: center;
        left: 26px;
    }

    .a-form {
        color: transparent;
    }

    .a-form::after {
        color: #FDEFCF;
        position: absolute;
        transition: all 1s;
        width: 300px;
        text-align: center;
        left: 29px;
        bottom: -253px;
    }

    .submit-main {
        z-index: 0;
        width: 72%;
        padding: 2%;
        margin: 9% 12%;
        height: 1308.1302px;
    }

    .fest {
        width: 103%;
        height: 1626.7773px;
    }

    .cicle-section {
        height: 838.545px;
    }
}

@media (min-height: 840px) {
    .divisas-cicle {
        font-family: "Roboto Flex", sans-serif;
        position: absolute;
        z-index: 2;
        top: 3457px;
    }

    .icons-cicle {
        top: 3452px;
    }

    .section-cicle {
        top: 2983px;
    }

    .cicle-section {
        background-position-x: 2px;
    }

    .a-form::after {
        color: #FDEFCF;
        position: absolute;
        transition: all 1s;
        width: 300px;
        text-align: center;
        left: 43px;
        bottom: -288px;
    }

    .a-comp::after {
        color: #FDEFCF;
        position: absolute;
        top: 1086px;
        left: 31px;
        transition: none;
    }

        .a-comp:hover::after {
        color: #FDEFCF;
        position: absolute;
        top: 1086px;
        left: 31px;
        transition: none;
    }

    .terra-circular {
        bottom: -7561px;
        width: 268px;
        left: 38%;
        height: 800px;
        border-radius: 0;
        filter: drop-shadow(-4px 0px 7px #00000075);
    }
}