/* Container */
.confetti {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background-color: #D98A5F;
    animation: fall linear infinite;
    opacity: 0.8;
    border-radius: 2px;
}

/* Diferentes cores */
.confetti:nth-child(3n) {
    background-color: #6BAA75;
}

.confetti:nth-child(4n) {
    background-color: #356037;
}

.confetti:nth-child(5n) {
    background-color: #E6D3AB;
}

.confetti:nth-child(6n) {
    background-color: #F2B134;
}

/* Animação */
@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.submit-main {
    z-index: 0;
    width: 72%;
    padding: 2%;
    margin: 9% 12%;
    height: 45vh;
}

.a-back {
    background: #2A1F11;
    border-radius: 15px;
    font-weight: 500;
    padding: 15px;
    font-size: 32px;
    color: #FDEFCF;
    text-decoration: none;
    content: "Fechar Compromisso!";
    margin-top: 30px;
    box-shadow: 5px 6px 12px #2a1f11a6;
    position: relative;
    top: 22px;
}

.h-submit {
    font-weight: 400;
    width: 96%;
}